.exp-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interview-exp-btn{
    margin-top: 18px;
    width: 207px;
    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    color: white;
}
.exp-container {
    margin-top: 22px;        
    background-color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;   
    padding: 20px 0;           
}

.exp-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;      
    align-items: flex-start;    
    width: 1414px;          
}

.filter-bar input{
    margin-top: 18px;
    width: 140px;
    margin-right: 8px;
    margin-bottom: 16px;
}
.apply-filter-btn{
    margin-left: 45.6%;
    border: none;
    padding: 6px;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    color: white;
}
